# Python
__pycache__
dist

# Log files
*.out
*.err
*.log
*.json
LOGS/

# slurm scripts
slurm_scripts/*
SearchingOptimalEnsembles_experiments/cluster_scripts/slurm/all_experiments.txt

# Documentation
site/*

# IDE related
.vscode/
.idea/

# Poetry
poetry.lock

# Misc
*.sh
*.model
*.pth
*.png

# Results
results

# Jupyter
.ipynb_checkpoints/

# MacOS
*.DS_Store

# WandB
SearchingOptimalEnsembles_experiments/wandb/
**/wandb/